<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.github.treborrude.prayerminder"
      android:versionCode="1"
      android:versionName="1.0">
    <!-- Tags support requires a juction table, which requires foreign
         key constraints. The best information I have says that Froyo
         (API level 8) is the oldest version of Android that has a
         version of sqlite3 > 3.6.19, when support for foreign key
         constraints was introduced. -->
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/Theme.Sherlock">
        <activity android:name="PrayerList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
